<div class="row">
    <div class="col-sm-3">
        <%= link_to "add friends", users_path, class: "pull-right card-link" %>
    </div>
</div>

<div class="row row-margin">
    <div class="col-sm-3 col-container-format">
        <ul class="list-group">
            <% @my_friends.each do |f| %>
                <% unread_tag = ""
                    if f.new_message
                      unread_tag = content_tag(:span, "unread messages", :class => "label label-default label-pill pull-right")
                    end
                %>
                <% if @relation && f.id == @relation.id %>
                  <%= link_to (f.to.name + unread_tag).html_safe, relationship_messages_path(f), class: "list-group-item active-friend" %>
                <% else %>      
                  <%= link_to (f.to.name + unread_tag).html_safe, relationship_messages_path(f), class: "list-group-item" %>
                <% end %>
            <% end %>
        </ul>
        <ul class="list-group">
            <% @their_friends.each do |f| %>   
                <% unread_tag = ""
                    if f.new_message
                      unread_tag = content_tag(:span, "unread messages", :class => "label label-default label-pill pull-right")
                    end
                %>     
                <% if @relation &&  f.id == @relation.id %>
                  <%= link_to (f.from.name + unread_tag).html_safe, relationship_messages_path(f), class: "list-group-item active-friend" %>
                <% else %>      
                  <%= link_to (f.from.name + unread_tag).html_safe, relationship_messages_path(f), class: "list-group-item" %>
                <% end %>
            <% end %>
        </ul>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <% if params[:relationship_id] %>
          <%= form_for Message.new, url: relationship_messages_path(params[:relationship_id]) do |f| %>
            <div class="form-group">
              <%= f.text_area 'body', class: 'text-incognito form-control', placeholder: 'message content', rows: "3"  %>
            </div>
            
            <%= f.submit 'send message', class: 'btn btn-incognito-main pull-right' %>
          <% end %>
        <% end %>
      </div>
      <div class="msg-container-format">
        <% @messages.each do |m| %>
            <div class="row">
                <div class="card card-block no-border">
                    <% if !m.read%>
                      <h4 class="card-title"><%= m.body %></h4>                    
                    <% end %>
                    <% if m.read %>
                      <p class="card-text">Read - last updated <%= m.updated_at %></p>
                    <% else %>
                      <p class="card-text">Unread - last updated <%= m.updated_at %></p>
                    <% end %>
                </div>
            </div>
        <% end %>
      </div>
    </div>
</div>